<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <div class="container">
        <a href="{% url 'football' %}">Upcoming</a>
        <a href="{% url 'football_results' %}">Results</a>
    </div>
    {% for item in data %}
    <table>
        <tr>
            <th colspan="2">{{ item.main_heading }}</th>
        </tr>
        {% for li_item in item.list_items %}
        <tr>
            <td><a href="{{ li_item.href }}">{{ li_item.text }}</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
    
{% comment %} 
    {% for item in data %}
        <h2>{{ item.main_heading }}</h2>
        <ul>
            {% for li_item in item.list_items %}
                <li>
                    <a href="{{ li_item.href }}">{{ li_item.text }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %} {% endcomment %}
</body>

</html>