


<!DOCTYPE html>
{% load static %}

<html>

<head>
	<title>Fedorsen </title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>

<body>
	
	{% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

	{% if request.GET.message %}
        <ul class="messages">
                <li class="info">{{ request.GET.message }}</li>
        </ul>
    {% endif %}


	<!-- Popup for text input -->
	<div id="popup">
		<form id="textForm" method="POST" action="{% url 'check_codes' %}">
			{% csrf_token %}
			{% comment %} <label for="username">Username:</label>
			<input type="text" required id="username" name="username"> {% endcomment %}
	
			<label for="code">Code:</label>
			<input type="text" required id="code" name="code">
	
			<button type="submit" id="submitTextButton">Submit</button>
			<button type="button" id="closePopupButton">Close</button>
		</form>
	</div>

	
	<div class="background-container">
		<h1 id="fedorsenText" data-href="{% url 'home' %}" style="cursor: pointer;">F E D O R S E N</h1>

		<div class="container-buttons">
			<a class="button button-prematch" href="{% url 'home' %}">Prematch</a>
			<a class="button button-telegram" href="https://t.me/zachebra">Telegram</a>
			<a class="button button-live" href="{% url 'live' %}">Live</a>
			{% if request.user.is_authenticated and request.user.accesscode.is_valid  %}
			<a class="button button-football" href="{% url 'football' %}">Football</a>
			{% else %}
			<a class="button button-football openPopupButton" href="">Football</a>	
			{% endif %}
		</div>
	</div>

	<table>
		<thead>
			<tr>
				<th>Date</th>
				<th>Country</th>
				<th>Category</th>
				<th>Match</th>
				<th>All money</th>
			</tr>
		</thead>
		<tbody>
			{% for row in rows_data %}
				{% if request.user.is_authenticated and request.user.accesscode.is_valid  %}
					<tr class="clickable-row" style="cursor: pointer;">
						<form id="gameForm" method="post" target="_blank" action="{% url 'game_detail' %}">
							{% csrf_token %}
							<input type="hidden" name="game_id" id="game_id" value="{{ row.game_id }}">
							<input type="hidden" name="league" id="league" value="{{ row.league }}">
							<input type="hidden" name="team" id="team" value="{{ row.teams }}">
							<input type="hidden" name="img_src" id="img_src" value="{{ row.img_src }}">
						</form>
				{% else %}
					<tr class="openPopupButton" style="cursor:pointer" >
				{% endif %}
						<td>{{ row.datetime }}</td>
						<td>{% if row.img_src %}<img src="{{ row.img_src }}" alt="Country Flag" width="20">{% endif %}</td>
						<td>{{ row.league }}</td>
						<td>{{ row.teams }}</td>
						<td>{{ row.all_money }}</td>
					</tr>
            {% endfor %}


		</tbody>


	</table> 

	

	<script src="{% static 'js/home.js' %}"></script>
	<script src="{% static 'js/pop-up.js' %}"></script>
	
	<script>
		$(document).ready(function () {
			$(".clickable-row").click(function () {
				// Find the form within the clicked row
				var form = $(this).find('form');
	
				// Submit the form
				form.submit();
			});
		});
	</script>


	
</body>
</html>